
@{
    ViewBag.Title = "Index";
}

<h2>Terms and Privacy</h2>

<html>

<head>

</head>
        <td colspan="10" width="1500" height="40">
            <p><h2>Privacy Notice</h2></p>
            <p> This privacy notice discloses the privacy practices for (website address). This privacy notice applies solely to information collected by this website. It will notify you of the following:

            <p>1.What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</p>
            <p> 2.What choices are available to you regarding the use of your data.</p>
            <p>3.The security procedures in place to protect the misuse of your information.</p>
            <p>4.How you can correct any inaccuracies in the information.</p>
            </p>
            <p><h3>Information Collection, Use, and Sharing </h3> </p>
            <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
            <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
            <p><h3>Your Access to and Control Over Information</h3></p>
            <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:

            <p>*See what data we have about you, if any.</p>
            <p>*Change/correct any data we have about you.</p>
            <p>*Have us delete any data we have about you.</p>
            <p>*Express any concern you have about our use of your data.</p>
            </p>
            <p><h3>Security</h3></p>
            <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
            <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
            <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at +959778864099  or email=mbank255@gmail.com</p>


            <div class="js-footer-accordion-item footer-navigation-item column-10 not-small-tablets-column-10" style="float:right;">
                <h5 class="js-footer-accordion-header accordion-header">Get The App</h5>
                <div class="accordion-content">
                    <ul class="vertical-menu footer-app-links">
                        <li>
                            <a href="https://itunes.apple.com/us/app/boohoo.com/id1018236462?mt=8" target="_blank" title="App store">
                                <img alt="App store"
                                     src="http://us.boohoo.com/on/demandware.static/-/Library-Sites-boohoo-content-global/default/dw15f61291/images/footer/app-store.jpg" title="">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.poqstudio.app.platform.boohoo&amp;hl=en_GB" target="_blank" title="Google play">
                                <img alt="Google play" src="http://us.boohoo.com/on/demandware.static/-/Library-Sites-boohoo-content-global/default/dw8aa6a883/images/footer/google-play.jpg"
                                     title="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-newsletter-social-wrapper footer-navigation-item column-100 not-small-tablets-column-22" style="float:right;">
                <h5 class="footer-newsletter-social-header accordion-header column-100 small-tablets-column-50 not-small-tablets-column-100">
                    Get Exclusive <br class="hidden-on-tablet hidden-on-desktop"> offers &amp; updates
                </h5>
                <div class="footer-newsletter column-100 small-tablets-column-50 not-small-tablets-column-100">
                    <form class="newsletter-form js-newsletter_form" action="/on/demandware.store/Sites-boohoo-NA-Site/en_US/NewsletterSubscribe-Start" method="post"
                          id="dwfrm_newslettersubscribe_594d8b7e7ef353f39e3a130b36" novalidate="novalidate">
                        <div class="newsletter-form-group">
                            <div class="newsletter-form-field-wrapper">
                                <input class="newsletter-form-field" id="footer_newsletter_email_594d8b7e7ef353f39e3a130b36" name="dwfrm_newslettersubscribe_email"
                                       placeholder="Enter Email Address" maxlength="255" value="" type="email">
                            </div>
                            <button class="newsletter-form-btn" type="submit" name="dwfrm_newslettersubscribe_subscribe" value="newslettersubscribe.actions.subscribe.value">
                                <span class="welcome-popup-button-text">Get code</span>
                                <span class="newslettersubscribe-button-text">Sign up</span>
                            </button>
        </td>
            </body>
</html>