
@{
    ViewBag.Title = "Index";
}
<html>

<div style="padding:10px;">
    <img src="~/picture/logo.gif" alt="Sample Image" width="500" />
</div>
<style>
    .dropbtn {
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    img {
        float: left;
        image text-align:;
    }

    figure {
        display: inline-block;
    }
</style>

<div>
    <td colspan="10" width="1500" height="200">

        <p><marquee direction="right"><font color="DarkRed" size="6" bold>Welcome From Our "Music Bank"</font></marquee></p>
        @*<p><marquee direction="right"><font color="LightBlue" size="6" bold>5%Discount!!Come and buy with us</font></marquee></p>*@

        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>

                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/1-necklace.png" align="middle" width="250" height="300">
        </figure>




        <figure>

            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/53c3853f25274a3d.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/64bff1eec38e92a4.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/7429806.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>

                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/s-l300.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>

            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/army.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/fghg.jpg" align="middle" width="250" height="300">
        </figure>




        <figure>
            <form action="Contact.html">
                <input type="submit" value="Buy Now" />
            </form>
            <head>
                <script type="text/javascript">

   function sayHello()
 {             alert("Add to cart is completely added");     }

                </script>
            </head>
            <body>
                <form>
                    <input type="button" onclick="sayHello()" value="Add to cart" />
                </form>
            </body>
            <image src="~/picture/fhgjhk.jpg" align="middle" width="250" height="300">
        </figure>


        <tr>
            <td class="td" colspan="9" bgcolor="gray">
                <p align="center">
                    ©Copy Right:Next Generation Clothing Company@gmail.com<br>
                    <a class="_Gs" href="Help.html">Help</a>  <a href="feedback.html" class="_Gs" data-
                                                                 bucket="websearch" id="_Yvd" target="_blank" jsaction="gf.sf" data-ved="0ahUKEwio87-Owu3VAhXMvo8KHa-BC14QLgiBAQ">Send feedback</a>
        </tr>

</div>

</html>