
@{
    ViewBag.Title = "Index";
}

<html>
<body>
<td colspan="10" width="1500" height="40">
    <p><h3>What is Next Generation?</h3> </p>
    <p>Next Generation is best relation for clothes lovers. In Next Generation you can buy everything what you want. If some problem happended between customers and sellers , we will support only for customer. In Next Generation you can get 10%discount</p>
    <p><h3>How Many year Next Generation Stand?</h3></p>
    <p>Next Generation stands since 2010 </p>
    <p><h3>How Many Page it has?</h3></p>
    <p>It has over 20 pages and each pages are link with each other</p>
    <p><h3>How can we Content</h3><p>
    <p>You can content us go to the<a href="file:///F:/Desktop/Web/About%20Company.html">About Company</a></p>
    <p>That website will guide about our Next Generation Company</p>






    <div class="js-footer-accordion-item footer-navigation-item column-10 not-small-tablets-column-10" style="float:right;">
        <h5 class="js-footer-accordion-header accordion-header">Get The App</h5>
        <div class="accordion-content">
            <ul class="vertical-menu footer-app-links">
                <li>
                    <a href="https://itunes.apple.com/us/app/boohoo.com/id1018236462?mt=8" target="_blank" title="App store">
                        <img alt="App store"
                             src="http://us.boohoo.com/on/demandware.static/-/Library-Sites-boohoo-content-global/default/dw15f61291/images/footer/app-store.jpg" title="">
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.poqstudio.app.platform.boohoo&amp;hl=en_GB" target="_blank" title="Google play">
                        <img alt="Google play" src="http://us.boohoo.com/on/demandware.static/-/Library-Sites-boohoo-content-global/default/dw8aa6a883/images/footer/google-play.jpg"
                             title="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-newsletter-social-wrapper footer-navigation-item column-100 not-small-tablets-column-22" style="float:right;">
        <h5 class="footer-newsletter-social-header accordion-header column-100 small-tablets-column-50 not-small-tablets-column-100">
            Get Exclusive <br class="hidden-on-tablet hidden-on-desktop"> offers &amp; updates
        </h5>
        <div class="footer-newsletter column-100 small-tablets-column-50 not-small-tablets-column-100">
            <form class="newsletter-form js-newsletter_form" action="/on/demandware.store/Sites-boohoo-NA-Site/en_US/NewsletterSubscribe-Start" method="post"
                  id="dwfrm_newslettersubscribe_594d8b7e7ef353f39e3a130b36" novalidate="novalidate">
                <div class="newsletter-form-group">
                    <div class="newsletter-form-field-wrapper">
                        <input class="newsletter-form-field" id="footer_newsletter_email_594d8b7e7ef353f39e3a130b36" name="dwfrm_newslettersubscribe_email"
                               placeholder="Enter Email Address" maxlength="255" value="" type="email">
                    </div>
                    <button class="newsletter-form-btn" type="submit" name="dwfrm_newslettersubscribe_subscribe" value="newslettersubscribe.actions.subscribe.value">
                        <span class="welcome-popup-button-text">Get code</span>
                        <span class="newslettersubscribe-button-text">Sign up</span>
                    </button>
                    </div>
                </div>
        </div>
  
</td>
<tr>
    <td class="td" colspan="9" bgcolor="gray">
        <p align="center">
            ©Copy Right:Next Generation Clothing Company@gmail.com<br>
            <a class="_Gs" href="Help.html">Help</a>  <a href="feedback.html" class="_Gs" data-
                                                         bucket="websearch" id="_Yvd" target="_blank" jsaction="gf.sf" data-ved="0ahUKEwio87-Owu3VAhXMvo8KHa-BC14QLgiBAQ">Send feedback</a>
</tr>
<tr>
    </body>
    </html>
